body {
  background-color: white;
  line-height: 1.0;
  font-size: 100%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#page_container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50em;
  height: 40em;
  margin: -20em auto auto -25em;
}

#logindiv {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 15em;
  margin: -10em auto auto -16em;
  padding: 1em;
  text-align: center;
  background-color: #66CCFF;
  border: 2px solid black;
  border-radius: 6px;
}

#chatdiv {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50em;
  height: 30em;
  margin: -18em auto auto -25em;
  text-align: center;
  background-color: #66CCFF;
  border: 2px solid black;
  border-radius: 6px;
}

#chatdisplay_container {
  position: absolute;
  top: 3em;
  left: 1em;
  width: 25em;
  height: 20em;
  margin: 1em;
}

#chatdisplay {
  text-align: left;
  word-wrap: normal;
  overflow: auto;
  background: -webkit-linear-gradient(darkgrey, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(darkgrey, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(darkgrey, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(darkgrey, white); /* Standard syntax */
  width: 90%;
  height: 70%;
  background-color: white;
  border: 2px solid black;
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 1em;
}

.list_container {
  position: absolute;
  top: 3em;
  right: 1em;
  width: 17em;
  height: 7em;
  margin: 1em;
}
.list_container.userlist { top: 15.5em; }
.list_container.logout { top: 26.5em; height: 2em;}

.list {
  width: 90%;
  height: 80%;
  padding: 0;
  margin-bottom: .5em;
  text-align: left;
  word-wrap: normal;
  overflow: auto;
  background-color: white;
  border: 2px solid black;
  border-radius: 4px;
}

.formstyle {
  background-color: white;
  border: 1px solid black;
  border-radius: 3px 0 0 3px;
  height: 1.75em;
  font-size: .9em;
  margin: 0;
  padding: 0 5px 0 5px;
  width: 10em;
}
.formstyle.roomname { width: 9em; }
.formstyle.chatinput { width: 15em; }

.buttonstyle {
  background-color: lightgray;
  border: 1px solid black;
  border-left: 0;
  border-radius: 0 3px 3px 0;
  height: 1.9em;
  font-size: .9em;
  margin: 0;
  padding: 0 5px 0 5px;
  cursor: pointer;
}
@-moz-document url-prefix() { .buttonstyle { height: 1.89em; } }
.buttonstyle.solo { border-left: 1px solid black; border-radius: 3px; }

.hidden { display: none; }

h1 { color: darkblue; text-shadow: 2px 2px 4px #666; }

ul { padding-left: 0; margin: 0; }
li { background-color: #CDF; padding: .4em; }
li:nth-child(odd) { background-color: #CCF; }
#roomlist li { cursor: pointer; }

#newroom { text-align: left; }

@media only screen and (max-width: 800px) {
  #page_container { width: 316px; height: 52em; margin: auto; top: 0; left: 0; }
  #logindiv { width: 316px; margin: auto; top: 0; left: 0; padding: 0;}
  #chatdiv { width: 316px; height: 100%; top: 0; margin: auto; left: 0; }
  #chatdiv div:nth-of-type(n + 2) h2 { -webkit-margin-start: -0.83em; }
  #chatdisplay_container { width: 250px; top: 2em; text-align: left;}
  #chatdisplay_container h2 { -webkit-margin-start: -1em; -webkit-margin-before: 1.5em; font-size: 90%; }
  #chatdisplay { margin-top: 25em;}
  .list_container { width: 250px; left: 2em; top: 4em; }
  .list_container.userlist { top: 16em; }
  .list_container.logout { top: 3em; left: 2em; text-align: right;}
  .formstyle.roomname { width: 8em; }
  .formstyle.chatinput { width: 9em; }
  .formstyle.login { width: 7em; }
  h4 { display: none; }
  .buttonstyle { border: 1px solid black; border-radius: 0; }
}
